@model IEnumerable<PWebV2.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<div class="video-background" id="video-bg">
    <video src="~/anim/vid2.mp4" autoplay loop muted />
</div>
<div class="project-content">
    <h3>Projects completed during courses and free time</h3>
</div>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-img" style="background-image: url(@Url.Content("~/pho/" + System.IO.Path.GetFileName(item.Image)));"> </div>
            <div class="card-body">
                <h5 class="card-title mx-auto text-center">@item.Title</h5>
                <p class="card-text mx-auto text-center">@item.Text</p>
                <a href="@item.ProjectLink">@item.ProjectSource</a>
            </div>
        </div>
    }
</div>



